linkcolor = brown - 25%
hovercolor = brow
bgcolor = white - 10%
body
  margin 100px
  // background white 20%
  background bgcolor
  color black + 10%
  font 16px "Lucida Grande", helvetica, sans-serif
  a
    color linkcolor
    font-weight bold
  a:hover
    color hovercolor
    font-weight bold
  h1
    color brown - 50%
#content
  line-height 24px
#footer
  text-align center
  font-size 10px

//table formating
tr
  text-align left
