doctype 5
html(ng-app)
  head
    title= "Hot Pie - " + title
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
    link(rel="stylesheet", href="../../../stylesheets/style.css")
    script(type='text/javascript', src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.1/angular.min.js")
  body

    #wrapper
      #header
        p
          ul
            li: a(href='/') home
            li: a(href='/driver') driver
            li: a(href='/rostering') rostering
            li: a(href='/login') login
        h1: a(href='/') #{title}

      #content
        h2 {{id}}
        ul
          for driver in drivers
            li= driver + '!!!'

        hr

        p
          |ID
          br
          input#id(type='text',ng-model='id', name='id')
        p
          |Name
          br
          input#name(type='text', name='name')
        p
          |Bas
          br
          input#bas(type='text', name='bas')

      #footer
        p Copyright &copy; 2013 - Kuntau Inc.

block content
