extends ../../../views/layout

block content
  p: b list of drivers
    a(href='/driver/new', class='button-link') add new driver
  hr
  ul
    for driver, i in drivers
      li: a(href="/driver/#{driver.id}") #{driver.id}. #{driver.name} [ #{driver.bas} ]

  hr
  p: b end of drivers
