doctype 5
html
  head
    title= "Hot Pie - " + title
    //- link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/#{stylesheet}.css")
  body
    //- block content
    #header
      h1= title

    #content
      block content
