body{margin:100px auto;background:#e6e6e6;color:#1a1a1a;font:16px Futura,"Lucida Grande",helvetica,sans-serif;width:500px}
#header{padding:50px;background-color:#a1a1a1}
#wrapper{text-align:left;}
#wrapper li{display:block}
#wrapper a{color:#7c2020;font-weight:bold}
#wrapper a:hover{color:brow;font-weight:bold}
#wrapper h1{color:#531515}
#content{line-height:24px;padding:50px}
#footer{text-align:center;font-size:10px}
th{border:2px solid #a52a2a}
tr{text-align:left;border:2px solid #a52a2a}
td{border:2px solid #a52a2a}
