extends ../../../views/layout

block content
  p
    table Laluan L01 - Pagi
      tr
        th Servis
        th Bas
        th Nama
      each servis in roster_l01
        tr
          each val, key in servis
            td= val

  p
    table Laluan L01 - Petang
      tr
        th Servis
        th Bas
        th Nama
      tr
        td 1
        td 100
        td Ramli Md Salleh
      tr
        td 2
        td 148
        td Ramdzani Syawal
      tr
        td 3
        td 107
        td Yazid Ismail
