extends ../../../views/layout

block content
  | This is the content
  h2= 'Wadafuk'
  p 'hihiihi'aaa <a href="http://google.com">Link</a>
  table
    th Laluan L01
    tr
      th Servis
      th Bas
      th Nama
    tr
      td 1
      td 100
      td Ramli Md Salleh
    tr
      td 2
      td 148
      td Ramdzani Syawal
    tr
      td 3
      td 107
      td Yazid Ismail
